<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://code.alibabatech.com/schema/dubbo
       http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <dubbo:application name="provider"/>
    <!-- 注册中心的ip地址 -->
    <dubbo:registry address="zookeeper://192.168.115.81:2181"/>
    <!-- dubbo协议在20880端口暴露服务 -->
    <dubbo:protocol name="dubbo" port="20880" />
    <!-- 扫描注解包路径，多个包用逗号分隔，不填pacakge表示扫描当前 ApplicationContext 中所有的类 -->
    <!--    <dubbo:annotation package="org.example.service.imp"/>-->

    <!-- 自定义注册服务 -->
    <!-- 声明需要暴露的服务接口 -->
    <dubbo:service interface="org.example.service.UserService" ref="userService" protocol="dubbo" />
    <!-- 接口实现类 -->
    <bean id="userService" class="org.example.service.imp.UserServiceImp" />

</beans>